// VARS
@black: #000;
@white: #fff;


// MIXINS
.angledBracket {
    &:before {
        content: "[";
    }
    &:after {
        content: "]";
    }    
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// BASE
img {
    width: 100%;
    height: auto;
}
body {
    padding-top: 60px;
    padding-bottom: 40px;
}



// LAYOUTS





// THEMES
body {
    background: @black;
    color: @white;
}
header > h1 {
    .visuallyhidden;
}

header > h2 {
    // fixme
    &:before {
        content: "[";
    }
    &:after {
        content: "]";
    }
}
b {
    .angledBracket;
}
section > h2 {
    font-style: italic;
}
.btn {
    background-image: none;
    background-color: gold;
    color: @black;
    text-transform: uppercase;
    border: none;
    -webkit-border-radius: 0; 
    -moz-border-radius: 0; 
    border-radius: 0; 
}
